---
layout: default
page_title: "Jerald Abille | About Me"
---

<!--hero-->
<div class="row">
    <div class="hero col-lg-8 mx-auto">
        <h3 class="fw-bold">
            About Me
        </h3>
        <p class="lead">
            I'm an iOS Developer based in the Philippines.
        </p>
        <p>
            I started working on mobile apps way back in 2012, driven by the incredible potential of apps to transform everyday experiences. I’ve always had a strong intuition for tech, and diving into app development felt like a natural way to channel my passion for both design and innovation.
            Over the years, I’ve had the opportunity to work in Singapore and the UAE, as well as locally in the Philippines, collaborating with both in-house and remote teams.
        </p>
        <p>
            I most enjoy building apps in the sweet spot where design and engineering meet — where things not only look great but are also built with strong technical foundations.
        </p>
        <p>
            When I'm not coding, I'm usually cooking, hanging out with my wife and kids, 
            learning to play the guitar, or watching my <span onclick="showTvShows()" style="cursor: pointer;"><u>favorite tv shows</u></span>.
            <br>
            <span id="tv-shows" style="display: none;">
                <em>The Office, Modern Family, The BigBang Theory, Brooklyn 99, What We Do in the Shadows and Hannibal TV</em>
            </span>
        </p>
        {% include download_resume.html %}
    </div>
</div>

<!--tabbed content-->
<div class="row">
    <div class="row col-lg-8 mx-auto mt-4 ps-0">
        <nav>
            <!--tabs-->
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {% assign ordered_tabs = site.abouttabs | sort: "order" %}
                {% for tab in ordered_tabs %}
                <button class="nav-link {{ tab.isActive }}" id="nav-{{ tab.navId }}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{ tab.navId }}" type="button" role="tab" aria-controls="nav-{{ tab.navId }}" aria-selected="false">
                    {{ tab.title }}
                </button>
                {% endfor %}
            </div>
    
            <!--contents-->
            <div class="tab-content" id="nav-tabContent">
                {% for tab in site.abouttabs %}
                <div class="tab-pane {{ tab.shouldShow }} {{ tab.isActive }} fade mx-2 mt-2" id="nav-{{ tab.navId }}" role="tabpanel" aria-labelledby="nav-{{ tab.navId }}-tab" tabindex="0">
                    {{ tab.content }}
                </div>
                {% endfor %}
            </div>
        </nav>
    </div>
</div>

<script>
    function showTvShows() {
        document.getElementById("tv-shows").style.display = "block";
    }
</script>