{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
  {% assign document = site[the_collection] %}
{% endif %}

{% for links in document | sort: "order" %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexttitle = next.title %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<div class="mb-3 d-flex flex-column flex-md-row">
{% if prevurl %}
<a href="{{ prevurl }}" class="link-dark mb-2 me-2 mb-md-0"><button type="button" class="btn btn-outline-dark btn-sm">Previous: {{ prevtitle }}</button></a>
{% endif %}
{% if nexturl %}
<a href="{{ nexturl }}" class="link-dark"><button type="button" class="btn btn-outline-dark btn-sm">Next: {{ nexttitle }}</button></a>
{% endif %}
</div>